<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title ||= "Chromatch"%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
  <script src="/js/typeahead.bundle.js"></script>
  <script src="/js/app.js"></script>
</head>

<body>
<header>
  <nav class="light-blue lighten-1"> <!-- Use of <nav> here violates the spec. However, materialize gives no other option to use their styling. -->
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a id="logo-container" href="#" class="brand-logo"><%= @title %></a>
      </div>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
      <a href="/profile" class="brand-logo"><br><img src="<%= current_user.avatar %>" alt="" class="circle responsive-profile-img left-align z-depth-1" width="180" height="180"><%= current_user.name %></a></li>
    <div class="divider"></div>
    <li><a href="/browse" class="waves-effect"><i class="mdi-action-list"></i> Browse</a></li>
    <li><a href="/search" class="waves-effect"><i class="mdi-action-search"></i> Search</a></li>
    <li><a href="/bookmarks" class="waves-effect"><i class="fa fa-star"></i> Bookmarks</a></li>
    <div class="divider"></div>
    <li><a href="#" class="waves-effect"><i class="mdi-action-settings"></i> Settings</a></li>
  </ul>
  <script>
      $('.button-collapse').sideNav({menuWidth: 240, activationWidth: 70});
  </script>
</header>

<main>
  <div class="container">
      <% if flash[:info] %>         <!-- I guess this should be updated to make toasts instead. -->
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button> <%= flash[:info] %> </div>
      <% end %>
      <% if flash[:success] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button><%= flash[:success] %>  </div>
      <% end %>
      <% if flash[:error] %>
          <% unless flash[:error]=='' || flash[:error]==nil || flash[:error]==[] %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button> <%= flash[:error] %> </div>
          <% else %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong> Unknown Error.</strong> It appears that an operation failed, but no error message was
                generated.
                Please contact site admin.
              </div>
          <% end %>
      <% end %>
      <%= yield %>
      <br>
      <a class="btn light-blue lighten-1 waves-effect" onclick="toast('I am a toast', 4000)">Toast!</a>
  </div>
</main>

<footer>
  <hr>
  <p style="margin-left: 20px;">&copy; People 2014</p>
</footer>

</body>
</html>
