<div style="padding-top:1%;">
  <div class="row">
    <div class="col l8">
      <div class="offset-l2" style="width:75px;height:75px;padding-left:1%;">
        <img src="<%= current_user.avatar %>" alt="<%= current_user.name %>" class="circle responsive-img z-depth-1">
      </div>

      <ul class="flow-text">
        <li><%= current_user.name %></li>
        <li><%= current_user.email %></li>
        <li>Phone: <%= current_user.phone %></li>
        <li>School: <%= current_user.position %></li>
        <li>Education:</li>
        <li>Career:</li>
        <li>Passion:</li>
      </ul>

    </div>

    <div class="col l9 valign-wrapper hide-on-med-and-down blue" style="height:200px;width:290px;">
      <p class="flow-text align-center">Word Cloud goes here.</p>
    </div>
  </div>
</div>

<div class="col s12 m12 valign-wrapper hide-on-large-only blue" style="height:200px;width:360px;">
  <p class="flow-text align-center">World Cloud goes here.</p>
</div>

<div class="valign-wrapper">
  <div class="valign">
    <a class="btn waves-effect waves-light" href="/profile/edit">Edit <i class="tiny mdi-image-edit right"></i></a>
  </div>
</div>
