<div style="padding-top:1%;">
  <div class="row">
    <div class="col l8">
      <div class="offset-l2" style="width:75px;height:75px;padding-left:1%;">
        <img src="<%= current_user.avatar %>" alt="<%= current_user.name %>" class="circle responsive-img z-depth-1">
      </div>
      <form method="post" action="/profile/update">
        <ul class="flow-text">
          <li><%= current_user.name %></li>
          <li><%= current_user.email %></li>
          <li>Phone: <input name="phone" type="tel" style="width:200px" placeholder="Enter your phone number" value="<%= current_user.phone %>"></li>
          <li>School:
            <select class="js-states form-control" name="position" style="width:200px; display:inline;">
              <option>Select a School</option>
              <option value="SHS" <%= current_user.position == "SHS" ? "selected" : "" %>>Staples High School</option>
              <option value="CMS" <%= current_user.position == "CMS" ? "selected" : "" %>>Coleytown Middle School</option>
              <option value="BMS" <%= current_user.position == "BMS" ? "selected" : "" %>>Bedford Middle School</option>
            </select>
          </li>
          <li>Education:
            <select type="text" class="js-example-tokenizer form-control" name="education[]" multiple="multiple" style="width:100%;display:inline;"></select>

            <script>
                $(document).ready(function(){
                    $(".js-example-tokenizer").select2({
                        //multiple: true,
                        tags: [],
                        tokenSeparators: [',']
                    })
                });
            </script>
          </li>
          <li>Career:
            <select class="js-example-tokenizer form-control" name="career[]" multiple="multiple" style="width:100%;display:inline;"></select>

            <script>
                $(document).ready(function(){
                    $(".js-example-tokenizer").select2({
                        tags: true,
                        tokenSeparators: [',']
                    })
                });
            </script>
          </li>
          <li>Passion:
            <select class="js-example-tokenizer form-control" name="passion[]" multiple="multiple" style="width:100%;display:inline;"></select>
            <script>
                $(document).ready(function(){
                    $(".js-example-tokenizer").select2({
                        tags: true,
                        tokenSeparators: [',']
                    })
                });
            </script>
          </li>
        </ul>
        <button type="submit" class="btn waves-effect waves-light submit-btn"><i class ="tiny mdi-content-save right"></i>Save Changes</button>
      </form>
    </div>

    <div class="col l9 valign-wrapper hide-on-med-and-down blue" style="height:200px;width:290px;">
      <p class="flow-text align-center">Word Cloud goes here.</p>
    </div>

  </div>
</div>

<div class="col s12 m12 valign-wrapper hide-on-large-only blue" style="height:200px;width:360px;">
  <p class="flow-text align-center">World Cloud goes here.</p>
</div>
